<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="FastApi_FastCgiModule" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\vxvproj\Monitoring\__PRTG__\venv\Scripts\python.exe|C:\vxvproj\Monitoring\__PRTG__\venv\Scripts\wfastcgi.exe" resourceType="Unspecified" requireAccess="Script" />
        </handlers> 
    </system.webServer>
    <appSettings>
        <add key="PYTHONPATH" value="C:\vxvproj\Monitoring\__PRTG__\src" />
        <add key="WSGI_HANDLER" value="main.wsgi_app" />
        <add key="WSGI_LOG" value="C:\vxvproj\Monitoring\__PRTG__\LogFiles\wfastcgi.log" />
    </appSettings>
</configuration>
